.signup-form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid #e9ebee;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 3px 8px 0 rgba(34, 60, 80, 0.2);
    background: #fff;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.submit-btn {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 7px;
    color: #fff;
    background-color: #5184f1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 100ms ease;
}

.submit-btn:hover {
    background-color: #2767ee;
}

.create-an-account {
    font-size: 14px;
    color: rgb(134, 142, 150);
    text-align: right;
    margin-top: 10px
}

.create-an-account span {
    cursor: pointer;
    color: #5184f1;
    text-decoration: underline;
    transition: color 100ms ease;
}

.create-an-account span:hover {
    color: #2767ee;
}

.label_required {
    text-align: left;
    font-weight: 500;
    color: black;
    font-size: 1em;
}

.label_required::after {
    content:" *";
    color: #e32;
}

.gender-select-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gender-select-input-group {
    display: flex;
    gap: 15px;
}
